h1 {
	display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
div.header {
	background-image: url(headerfooter.png);
	text-allign: center;
	color: white;
	font-size: 30px;
	padding: 60px;
}
body {
	text-align: center;
	font-size: 30px;
    background-image: url(bg.png);
}
footer {
	font-size: 25px;
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	background-image: url(headerfooter.png);
    color: white;
    text-align: center;
	padding-top: 10px;
}
.fab {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fas {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}


.fab:hover {
  opacity: 0.7;
}
.fas:hover {
  opacity: 0.7;
}

/* Youtube */
.fa-youtube {
  background: rgba(201,13,16,1.00);
  color: white;
}
/* Twitch */
.fa-twitch {
  background: rgba(120,25,168,1.00);
  color: white;
}
/* Instagram */
.fa-instagram {
  background: rgba(209,45,145,1.00);
  color: white;
}
/* Twitter*/
.fa-twitter {
  background: rgba(0,100,255,1.00);
  color: white;
}
/* Discord*/
.fa-discord {
  background: rgba(7,61,135,1.00);
  color: white;
}
/* Soundcloud*/
.fa-soundcloud {
  background: rgba(244,110,7,1.00);
  color: white;
}
/* PayPal*/
.fa-paypal {
  background: rgba(54,57,185,1.00);
  color: white;
}
/* Bars*/
.fa-bars {
  background: rgb(0, 0, 0);
  color: white;
}



div.maintext{
	margin-bottom: 100px;
	padding-left:250px;
    padding-right:250px;
}
div.subheading {
	font-size: 40px;
}

