h1 {
    font-size: 75px;
    font-weight: bold;
    display:inline;
    width:200px;
    text-align:center;
	margin: auto;
	
}
div.header {
	font-size: 25px;
    left: 0;
    top: 0;
    width: 100%;
	background-image: url(headerfooter.png);
    color: white;
    text-align: center;
	padding-top: 10px;
}
body {
	text-align: center;
	font-size: 30px;
    background-image: url(bg.png);
	margin: auto;
    padding: auto;
}
footer {
	font-size: 25px;
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	background-image: url(headerfooter.png);
    color: white;
    text-align: center;
	padding-top: 10px;
}
.fab {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fas {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}


.fab:hover {
  opacity: 0.7;
}
.fas:hover {
  opacity: 0.7;
}

/* Youtube */
.fa-youtube {
  background: rgba(201,13,16,1.00);
  color: white;
}
/* Twitch */
.fa-twitch {
  background: rgba(120,25,168,1.00);
  color: white;
}
/* Instagram */
.fa-instagram {
  background: rgba(209,45,145,1.00);
  color: white;
}
/* Twitter*/
.fa-twitter {
  background: rgba(0,100,255,1.00);
  color: white;
}
/* Discord*/
.fa-discord {
  background: rgba(7,61,135,1.00);
  color: white;
}
/* Soundcloud*/
.fa-soundcloud {
  background: rgba(244,110,7,1.00);
  color: white;
}
/* PayPal*/
.fa-paypal {
  background: rgba(54,57,185,1.00);
  color: white;
}
/* Bars*/
.fa-bars {
  background: rgb(0, 0, 0);
  color: white;
}


div.maintext{
	margin-bottom: 100px;
	padding-left:250px;
    padding-right:250px;
}

div.subheading {
	font-size: 40px;
}

button.navmenubutton {
	background: transparent;
    border: none !important;
    font-size:0;
	margin-bottom: 10px;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 36px;
  color: #FFFFFF;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

.active {
  background-color: mediumpurple;
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}